.Carosel {
    margin: 20px auto;
    position: relative;
   
    div {
        margin: 0 auto;
        width: 90%;
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;   
        };

    button {
        width: 5%;
        height: 10%;
        min-height: 25px;
        position: absolute;
        top: 45%;
        left: 95%;
        background-color: rgb(226, 226, 226);
        border: none;
        &:hover {
            background-color: rgb(105, 105, 105);
            color: white;
            cursor: pointer;
        }
    }
    button:nth-child(2) { 
        left: 0%;
    }
}